<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Kvantorium_ProjectEntities" connectionString="metadata=res://*/Model111.csdl|res://*/Model111.ssdl|res://*/Model111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities1" connectionString="metadata=res://*/Model111.csdl|res://*/Model111.ssdl|res://*/Model111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities2" connectionString="metadata=res://*/Model1111.csdl|res://*/Model1111.ssdl|res://*/Model1111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities3" connectionString="metadata=res://*/Model1123.csdl|res://*/Model1123.ssdl|res://*/Model1123.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities4" connectionString="metadata=res://*/Model123.csdl|res://*/Model123.ssdl|res://*/Model123.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities5" connectionString="metadata=res://*/Model11231.csdl|res://*/Model11231.ssdl|res://*/Model11231.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities6" connectionString="metadata=res://*/Model111122.csdl|res://*/Model111122.ssdl|res://*/Model111122.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities7" connectionString="metadata=res://*/Model1234.csdl|res://*/Model1234.ssdl|res://*/Model1234.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities8" connectionString="metadata=res://*/Model1111.csdl|res://*/Model1111.ssdl|res://*/Model1111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities9" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities10" connectionString="metadata=res://*/Model1111.csdl|res://*/Model1111.ssdl|res://*/Model1111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities11" connectionString="metadata=res://*/Model1111.csdl|res://*/Model1111.ssdl|res://*/Model1111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities12" connectionString="metadata=res://*/Model1112.csdl|res://*/Model1112.ssdl|res://*/Model1112.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities13" connectionString="metadata=res://*/ModelAll.csdl|res://*/ModelAll.ssdl|res://*/ModelAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities14" connectionString="metadata=res://*/Model111.csdl|res://*/Model111.ssdl|res://*/Model111.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kvantorium_ProjectEntities15" connectionString="metadata=res://*/Model13242.csdl|res://*/Model13242.ssdl|res://*/Model13242.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TSPOI6V\SQLEXPRESS;initial catalog=Kvantorium_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>